html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
}

html, body {
    background: #191919;
}

.circle {
  fill: #383838;
}

.grid {
  height: 100%;
  width: 100%;
  position: absolute;
}

.grid svg {
  height: 100%;
  width: 100%;
}

.card {
  width: 240px;
  height: 240px;
  background: #2D2D2D;
  position: absolute;
  margin: 120px;
  border-radius: 16px;
  /* Shadow 16dp */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
