html, body, #app, .app {
  height: 100%;
  width: 100%;
  margin: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background: #191919;
  color: #FFF;
  font-family: 'Inter', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  fill: rgba(255, 255, 255, 0.4);
}

.grid {
  height: 100%;
  width: 100%;
}

.grid > svg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.graph-view {
  flex-grow: 1;
  overflow: auto;
}


*[data-color="blue"] {
  --accent_color: #48dbfb;
}
*[data-color="yellow"] {
  --accent_color:  #fffa65;
}


*[data-color="green"] {
  --accent_color:  #1dd1a1;
}

*[data-color="purple"] {
  --accent_color: #cd84f1;
}
