.button {
  margin: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: 0;
  outline: 0;
  text-align: center;
  color: inherit;
  display: flex;
  align-items: center;
  opacity: 0.75;
}


.button--close-modal {
  position: absolute;
  top: 1.2em;
  right: 1.2em;
}


.button--modal {
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 2.4em;
  border-radius: 2em;
  margin-right: 1.8em;
  max-height: 38px;
  box-sizing: border-box;
  opacity: 1;
}

.button--primary {
  background: var(--input_accent_color);
}

.button:focus,
.button:hover {
  opacity: 1;
}

.button--add {
  color: var(--label-color);
}

.button--status {
  margin-right: 0.8em;
}

*:focus .button--status {
  opacity: 1;
}
