.modal_backdrop {
  background: rgba(20, 20, 20, 0.64);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 64%;
  outline: 0;
  max-width: 580px;
  min-width: 320px;
  background: var(--card-bg);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 0.8em;
  overflow: auto;
  display: block;
}

.modal_header {
  padding: 1.24em;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal_header h3 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  appearance: none;
}

.modal_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1.75em 0;
}
