.panel {
  --card_bg: #2d2d2d;
}
.panel {
  min-width: 100px;

  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.panel_header {
  display: flex;
  align-items: center;
  margin: 1.8em 1.4em;
  position: relative;
  z-index: 1;
}

.icon--button {
  margin-left: 1.6em;
}

.panel--left {
  max-width: 400px;
  min-width: 280px;
  border-right: 2px solid var(--card_bg);
}

.panel--right {
  min-width: 200px;
  border-left: 2px solid var(--card_bg);
}

.panel_items {
  margin: 0;
}

.panel_item {
  font-size: 0.96em;
  padding: 0.8em 1.4em;
  color: var(--label-color);
}
.panel_item:focus {
  outline: 0;
  color: white;
  background: var(--card_bg);
}

.panel_item:focus .item_status {
  color: var(--subtitle-color);
}

.item_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_title {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.item_title span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.status_icon {
  color: var(--accent_color);
}
