* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 0.48em;
  width: 0.48em;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.64em;
}
