.search_input {
  color: var(--subtitle-color);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0.4em 0.8em;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 1em;
  box-sizing: border-box;
}

.search_input[data-focus="true"] {
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.search_input input {
  color: inherit;
  font-family: inherit;
  border: 0;
  background: 0;
  width: 100%;
  appearance: none;
}

.search_input input:focus {
  outline: 0;
  border: 0;
  box-shadow: 0;
}
